dialog {
  border-radius: 1rem;
  border: none;
  max-width: 90%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  opacity: 0;
  scale: 0.8;
  transition: all 0.3s;
  transition: all 0.3s allow-discrete;
}

dialog[open] {
  opacity: 1;
  scale: 1;
}

dialog::backdrop {
  backdrop-filter: none;
  background: transparent;
  transition: all 0.3s;
  transition: all 0.3s allow-discrete ease-out;
}

dialog[open]::backdrop {
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.1);
}

@starting-style {
  dialog[open] {
    opacity: 0;
    scale: 0.8;
  }

  dialog[open]::backdrop {
    backdrop-filter: none;
    background: transparent;
  }
}

@media (min-width: 768px) {
  dialog {
    max-width: 50%;
  }
}